# Website Scraper

This project will include a script that we will use in order to get the players info from the following websites:

We will then store the data in a dictionnary and transform that dictionnary into a dataframe

Once we have the dataframe, we will create a dataset to store the data

### Importing modules

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

### Setting up the scraper

In [140]:
url1='https://go-knights.net/'
user_agent = "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:55.0) ' 'Gecko/20100101 ' 'Firefox/55.0"
headers = {'User-Agent': user_agent}

#### If the website contains multiple pages, create a loop to define the number of pages like this:

In [142]:
r=requests.get('https://go-knights.net/sports/wrestling/roster')

In [143]:
soup=BeautifulSoup(r.content,'html.parser')

In [144]:
playerlist=soup.find_all('div', class_='sidearm-roster-player-other flex-item-1 columns hide-on-medium-down')

In [145]:
playerlinks=[]

In [146]:
for item in playerlist:
    for link in item.find_all('a',href=True):
        playerlinks.append(url1 + link['href'])

### Sample testing: ✔️

We will simulate the first loop by assigning the link of the first player on the list to the variable test_link. In order for the test to be valid, the print statement should return "Dylan Albrecht"

In [147]:
test_link='https://go-knights.net/sports/wrestling/roster/dylan-albrecht/11180'
r=requests.get(test_link, headers=headers)
soup=BeautifulSoup(r.content,'html.parser')
print(soup.find('span', class_='sidearm-roster-player-name').text.strip())

Dylan
Albrecht

#### Parsing each info from the student ✔️

In [148]:
fl_name=soup.find('span', class_='sidearm-roster-player-name').text.replace('\n',' ').strip()
fl_name

'Dylan Albrecht'

In [149]:
weight=soup.findAll('dl', class_='flex-item-1')[0].text.replace('\n',' ').strip()

s_class=soup.findAll('dl', class_='flex-item-1')[1].text.replace('\n',' ').strip()

city_home=soup.findAll('dl', class_='flex-item-1')[2].text.replace('\n',' ').strip()

hs=soup.findAll('dl', class_='flex-item-1')[3].text.replace('\n',' ').strip()

#### Creating the dictionnary ✔️

In [150]:
w_stats = {
    "Name":fl_name,
    "Weight_class":weight,
    "Class":s_class,
    "Hometown":city_home,
    "Highschool":hs
}

In [151]:
print(w_stats)

{'Name': 'Dylan Albrecht', 'Weight_class': 'Weight: 125', 'Class': 'Class: Sophomore', 'Hometown': 'Hometown: Waverly, Iowa', 'Highschool': 'Highschool: Waverly-Shell Rock'}

## Compiling the script: test

In [153]:
wrestler_list=[]
for link in playerlinks:
    r=requests.get(link, headers=headers)
    soup=BeautifulSoup(r.content,'html.parser')
    
    fl_name=soup.find('span', class_='sidearm-roster-player-name').text.replace('\n',' ').strip()
    
    try:
        weight=soup.findAll('dl', class_='flex-item-1')[0].text.replace('\n',' ').strip()
    except:
        weight=None
    
    try:
        s_class=soup.findAll('dl', class_='flex-item-1')[1].text.replace('\n',' ').strip()
    except:
        s_class=None    
    
    try:
        city_home=soup.findAll('dl', class_='flex-item-1')[2].text.replace('\n',' ').strip()
    except:
        city_home=None
        
    try:
        hs=soup.findAll('dl', class_='flex-item-1')[3].text.replace('\n',' ').strip()
    except:
        hs=None
    
    w_stats = {
        "Name":fl_name,
        "Weight_class":weight,
        "Class":s_class,
        "Hometown":city_home,
        "Highschool":hs
        }
    
    wrestler_list.append(w_stats)
    print('saving :', w_stats['Name'])

saving : Dylan Albrecht
saving : Dillon Bailey
saving : Mehrshad Bashang
saving : Blake Bauer
saving : Colton Berg
saving : Jordon  Brandon
saving : Kyle  Briggs
saving : Seth Butler
saving : Brendan Carroll
saving : Jamal Chakkour
saving : Blain Christie
saving : Adrian Coello
saving : Alex Crawford
saving : Damari Dancy
saving : Braxton Doebel
saving : Matthew Doyle
saving : Brady Fritz
saving : Garrett Geigner
saving : Josh Gervey
saving : Aidan Haggard
saving : Case Harmston
saving : Justin Henry
saving : Jacob Herrmann
saving : David Hollingsworth
saving : Logan James
saving : Hunter Kalous
saving : Zak Kozumplik
saving : Cael Krueger
saving : Brady Kyner
saving : James Levy
saving : Jacob McBride
saving : Brock Meyer
saving : Brooks Meyer
saving : Zane Mulder
saving : Devin Nobiling
saving : Reese Osborne
saving : Eli Pannell
saving : David Papach
saving : Matthew Phillips
saving : Joe Pins
saving : Seamus Poynton
saving : Carter Proffitt
saving : Antwon Pugh
saving : Kyler Romero
saving : Adrian Rosas
saving : Kris Rumph
saving : Justin Stammer
saving : Zayren Terukina
saving : Luke Walker
saving : Trevon Wells
saving : Dalton Whitehall-Gikes
saving : Kobe Woods
saving : Jackson Wray
saving : Zane Ziegler

#### Converting the dictionnary into a DataFrame ✔️

In [2]:
df=pd.DataFrame(wrestler_list)

#### Cleaning the Data ✔️

In [3]:
df.head()

,Unnamed: 0,Name,Weight_class,Class,Hometown,Highschool
0,0,Dylan Albrecht,Weight: 125,Class: Sophomore,"Hometown: Waverly, Iowa",Highschool: Waverly-Shell Rock
1,1,Dillon Bailey,Class: Freshman,"Hometown: Corning, CA",Highschool: Corning Union,NaN
2,2,Mehrshad Bashang,Class: Sophomore,"Hometown: Glendale Heights, Ill.",Highschool: Glenbard North,NaN
3,3,Blake Bauer,Weight: 157,Class: Senior,"Hometown: Milo, Iowa",Highschool: Southeast Warren
4,4,Colton Berg,Class: Freshman,"Hometown: Sycamore, Ill.",Highschool: Sycamore,NaN

In [4]:
rows_to_shift = df[df['Weight_class'].str.startswith('Class')].index

In [5]:
print(rows_to_shift)

Int64Index([ 1,  2,  4,  7,  8, 10, 17, 18, 19, 20, 22, 25, 26, 29, 32, 33, 35,
            36, 40, 42, 44, 48, 49, 50, 52],
           dtype='int64')

In [22]:
df.loc[rows_to_shift, :]

,Unnamed: 0,Name,Weight_class,Class,Hometown,Highschool
1,1,Dillon Bailey,Class: Freshman,"Hometown: Corning, CA",Highschool: Corning Union,NaN
2,2,Mehrshad Bashang,Class: Sophomore,"Hometown: Glendale Heights, Ill.",Highschool: Glenbard North,NaN
4,4,Colton Berg,Class: Freshman,"Hometown: Sycamore, Ill.",Highschool: Sycamore,NaN
7,7,Seth Butler,Class: Freshman,"Hometown: Oxbow, OR",Highschool: Pine Eagle,NaN
8,8,Brendan Carroll,Class: Freshman,"Hometown: Wappingers Falls, N.Y.",Highschool: Roy C. Ketcham,NaN
10,10,Blain Christie,Class: Freshman,"Hometown: Kankakee, Ill.",Highschool: Bishop McNamara,NaN
17,17,Garrett Geigner,Class: Freshman,"Hometown: Manhattan, Ill.",Highschool: Lincoln-Way West,NaN
18,18,Josh Gervey,Class: Freshman,"Hometown: Lafayette, NJ",Highschool: High Point,NaN
19,19,Aidan Haggard,Class: Freshman,"Hometown: Arnold, MO",Highschool: Hillsboro,NaN
20,20,Case Harmston,Class: Freshman,"Hometown: Elizabeth, Ill.",Highschool: Lena Winslow Stockton,NaN
22,22,Jacob Herrmann,Class: Sophomore,"Hometown: Shell Rock, Iowa",Highschool: Waverly-Shell Rock,NaN
25,25,Hunter Kalous,Class: Freshman,"Hometown: Fairfax, Iowa",Highschool: Prairie (Cedar Rapids),NaN
26,26,Zak Kozumplik,Class: Freshman,"Hometown: Sycamore, Ill.",Highschool: Sycamore,NaN
29,29,James Levy,Class: Freshman,"Hometown: Hilton Head, SC",Highschool: Hilton Head,NaN
32,32,Brooks Meyer,Class: Freshman,"Hometown: Denver, Iowa",Highschool: Denver,NaN
33,33,Zane Mulder,Class: Sophomore,"Hometown: Grimes, Iowa",Highschool: Dallas Center-Grimes,NaN
35,35,Reese Osborne,Class: Freshman,"Hometown: Sheridan, WY",Highschool: Sheridan,NaN
36,36,Eli Pannell,Class: Sophomore,"Hometown: Fulton, Ill.",Highschool: Fulton,NaN
40,40,Seamus Poynton,Class: Freshman,"Hometown: Solon, Iowa",Highschool: Solon,NaN
42,42,Antwon Pugh,Class: Freshman,NaN,NaN,NaN
44,44,Adrian Rosas,Class: Freshman,"Hometown: Southgate, MI",Highschool: Southgate Anderson,NaN
48,48,Luke Walker,Class: Freshman,"Hometown: Waverly, IA",Highschool: Waverly-Shell Rock,NaN
49,49,Trevon Wells,Class: Freshman,"Hometown: Grimes, Iowa",Highschool: Dallas Center Grimes,NaN
50,50,Dalton Whitehall-Gikes,Class: Freshman,NaN,NaN,NaN
52,52,Jackson Wray,Class: Freshman,"Hometown: Malvern, Iowa",Highschool: East Mills,NaN

In [52]:
df1=df.loc[rows_to_shift, :]

In [53]:
df1

,Unnamed: 0,Name,Weight_class,Class,Hometown,Highschool
1,1,Dillon Bailey,Class: Freshman,"Hometown: Corning, CA",Highschool: Corning Union,NaN
2,2,Mehrshad Bashang,Class: Sophomore,"Hometown: Glendale Heights, Ill.",Highschool: Glenbard North,NaN
4,4,Colton Berg,Class: Freshman,"Hometown: Sycamore, Ill.",Highschool: Sycamore,NaN
7,7,Seth Butler,Class: Freshman,"Hometown: Oxbow, OR",Highschool: Pine Eagle,NaN
8,8,Brendan Carroll,Class: Freshman,"Hometown: Wappingers Falls, N.Y.",Highschool: Roy C. Ketcham,NaN
10,10,Blain Christie,Class: Freshman,"Hometown: Kankakee, Ill.",Highschool: Bishop McNamara,NaN
17,17,Garrett Geigner,Class: Freshman,"Hometown: Manhattan, Ill.",Highschool: Lincoln-Way West,NaN
18,18,Josh Gervey,Class: Freshman,"Hometown: Lafayette, NJ",Highschool: High Point,NaN
19,19,Aidan Haggard,Class: Freshman,"Hometown: Arnold, MO",Highschool: Hillsboro,NaN
20,20,Case Harmston,Class: Freshman,"Hometown: Elizabeth, Ill.",Highschool: Lena Winslow Stockton,NaN
22,22,Jacob Herrmann,Class: Sophomore,"Hometown: Shell Rock, Iowa",Highschool: Waverly-Shell Rock,NaN
25,25,Hunter Kalous,Class: Freshman,"Hometown: Fairfax, Iowa",Highschool: Prairie (Cedar Rapids),NaN
26,26,Zak Kozumplik,Class: Freshman,"Hometown: Sycamore, Ill.",Highschool: Sycamore,NaN
29,29,James Levy,Class: Freshman,"Hometown: Hilton Head, SC",Highschool: Hilton Head,NaN
32,32,Brooks Meyer,Class: Freshman,"Hometown: Denver, Iowa",Highschool: Denver,NaN
33,33,Zane Mulder,Class: Sophomore,"Hometown: Grimes, Iowa",Highschool: Dallas Center-Grimes,NaN
35,35,Reese Osborne,Class: Freshman,"Hometown: Sheridan, WY",Highschool: Sheridan,NaN
36,36,Eli Pannell,Class: Sophomore,"Hometown: Fulton, Ill.",Highschool: Fulton,NaN
40,40,Seamus Poynton,Class: Freshman,"Hometown: Solon, Iowa",Highschool: Solon,NaN
42,42,Antwon Pugh,Class: Freshman,NaN,NaN,NaN
44,44,Adrian Rosas,Class: Freshman,"Hometown: Southgate, MI",Highschool: Southgate Anderson,NaN
48,48,Luke Walker,Class: Freshman,"Hometown: Waverly, IA",Highschool: Waverly-Shell Rock,NaN
49,49,Trevon Wells,Class: Freshman,"Hometown: Grimes, Iowa",Highschool: Dallas Center Grimes,NaN
50,50,Dalton Whitehall-Gikes,Class: Freshman,NaN,NaN,NaN
52,52,Jackson Wray,Class: Freshman,"Hometown: Malvern, Iowa",Highschool: East Mills,NaN

In [ ]:
df1.loc[df1["dup"], "G"] = df1.loc[df["dup"], "E"]